.mainContainer{
    width: 99vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add img{
    width: 16vw;
}
.container {
    color: black;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 350px;
    font-size: 7px;
    padding: 30px 20px 30px 20px;
}

.holder {
    background-color: rgb(255, 255, 255);
    margin-top: 20px ;
    display: flex;
    gap: 25px;
    align-items: center;
    /* justify-content: space-between; */
    height: 85%;
}

.subContainer {
    color: rgb(0, 0, 0);
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContainer img{
    width: 50%;
}

.subContainer p {
    font-size: 14px;
    text-align: center;

}

.subContainer h2 {
    font-size: 14px;
    text-align: center;
}