.maina{
    background-color: rgb(255, 255, 255);
    margin: 0px 20px 10px;
}

.heading{
    color: black;
}

.carousel {
    width: 100%;
    overflow-x: auto;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 3em;
    margin: auto;
    /* background-color: antiquewhite; */
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel::scroll-button(right){
    content: '→';
    border: none;
    background-color: rgb(42, 42, 150);
    font-family: Consolas;
    font-size: 3rem;
    color: aliceblue;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position-anchor: --carousel;
    position: fixed;
    position-area: right center;
    translate: -50%;
}

.carousel::scroll-button(left){
    content: '← ';
    border: none;
    background-color: rgb(42, 42, 150);
    font-family: Consolas;
    font-size: 3rem;
    color: aliceblue;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position-anchor: --carousel;
    position: fixed;
    position-area: left center;
    translate: 50%;
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled{
    opacity: 0.0;
    cursor: auto;
}

.card{
    color: black;
    width: 13em;    /* height: 12em; */
    /* background-color: rgb(109, 143, 172); */
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    align-content: center; 
    /* flex: 0 0 200em; */
    scroll-snap-align: start;
}

.card img{
    height: 11em;
}